
body{
    display: flex;
    height: 100%;
    background: linear-gradient(to right, #144e8d, #1ab660);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.container {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: 6%;
    background: transparent; 

    height: 100%;
}


/* Card styling */
.cards {
    padding: 1rem;
    border: 0.1rem solid rgb(76, 75, 75);
    border-radius: 0.625rem;
    /* background-color: #fff; */
    margin-left: 30%;
    padding-left: 2%;
    width: 60vw;
    box-sizing: border-box;
    cursor: pointer;

    background-size: cover;
    background-position: center;

    transition: transform 0.5s;
}

.cards.card1 {   
    background-image: url(./images/hack-fraud-card-code.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #aee6ea;
    height: 13rem;
}

.cards.card2 {   
    background-image: url(./images/text_image_bg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(212, 243, 210);
    height: 13rem;

    color: #638e7a;
}
.cards.card3 {   
    background-image: url(./images/model3_bn.png);
    height: 13rem;
    background-color: rgb(212, 243, 210);
}


.cards:hover {
    transform: translateX(15px);
}

.cards a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.card1 h4 {
    color: #323335;
}

.card1 h5 {
    font-weight: 520;
}

.card2 h4,h5, h6 {
    color: #323335;
}

.card2 h6 {
    font-weight: 520;
    font-size: 12px;
}


/* cards */
/* @media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
} */


.navbar {
    overflow: auto;
}

