
body{
    display: flex;
    height: 100vh;
    background-image: url('./images/bg_an2.gif');
    background-color: #050b20;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

html {
    overflow-y: scroll;
}

.container {
    display: flex;
    column-gap: 2rem;
    width: 90vw;
    height: 80vh;
    margin-top: 5%;
}


.grid1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    border: 10px red;
}

.grid2 {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    width: 50%;
    height: 80%;
    border: 10px red;
    box-sizing: border-box;
}


#prompt_area {
    width: 100%;
    resize: none;

    padding: 2%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    background-color: aliceblue;
    border-color: aqua;

    color: rgb(17, 17, 17);
    font-size: 17px;
}



.submit_btn {
    margin-left: 55%;
    margin-top: 1%;
    width: 25%;
    height: 10%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

    background-color: rgb(215, 212, 143);
    animation: fadeIn 3s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.submit_btn:hover {
    border: 1px;
    background-color: rgb(242, 213, 158);
    transition: 0.1s ease-in-out;
    animation: none;
}



.timer {
    /* margin-top: 10px; */
    font-size: 14px;
    color: #c9cec9; /* Change this to your desired color */
}

.grid2 h2 {
    color: aliceblue;
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 3px;
}

