
{% extends "base.html" %}

{% block title %}Text2Image Generation{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='txt_img.css')}}">
{% endblock %}

{% block str_btn %}
{% endblock %}

{% block links %}
    <li><a class="menu_i" href="{{url_for('home')}}">Home</a></li>
    <li><a class="menu_i" href="{{url_for('dashboard_main')}}">Dashboard</a></li>
    <li><a class="menu_i" href="{{url_for('about')}}">About</a></li>
    <li><a class="menu_i" href="https://github.com/Shuhaib73/Fraud_Detection_Machine_Learning_Project", target="_blank">Git Hub</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid1">
            {% if image_filename %}
                <img src="{{ url_for('static', filename='generated_images/'+image_filename) }}" alt="Robo Image" style="width: 450px; height: 420px; border-radius: 20px;" class="image_container">
                <div id="timer" class="timer">Compute Time: {{ t_run_time }}</div> 
            {% else %}
                <img src="{{ url_for('static', filename='images/default_image.png') }}" alt="Robo Image" style="width: 550px; height: 300px; border-radius: 20px;" class="image_container">
            {% endif %}
        </div>

        <div class="grid2">
            <h2 class="text_area_title">🤖 Text-to-Image⚡️</h2>
            <form action="{{ url_for('text_image_page') }}" method="POST" class="form_container">
                <textarea id="prompt_area" name="input_prompt" rows="12" cols="86" required>{{ input_prompt if input_prompt else 'Your Prompt here...'}}</textarea><br>

                <button type="submit" class="submit_btn">Generate</button>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block description %}
{% endblock %}